{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block center %}
<div class="container mt-5">
    <div class="row">
        <!-- Çoklu ürün fotoğrafı göstermek için evrensel carousel -->
        <div id="carousel{{ product.pk }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for img in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ img.image.url }}" class="d-block w-100" style="height: 300px; object-fit: contain;">
                </div>
                {% empty %}
                <div class="carousel-item active">
                    <img src="{% static 'image.jpg' %}" class="d-block w-100"
                        style="height: 300px; object-fit: contain;">
                </div>
                {% endfor %}
            </div>

            {% if product.images.count > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product.pk }}"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product.pk }}"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            {% endif %}
        </div>
        <h2>{{ product.name }}</h2>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Seller:</strong> <a href="/users/{{ product.user }}">{{ product.user }}</a></p>
        <p>{{ product.description }}</p>
        <a href="#" class="btn btn-primary btn-lg">Buy Now</a>
    </div>
</div>
</div>
{% endblock %}