{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block center %}
<div class="container mt-5">
    <div class="row">
        <!-- Çoklu ürün fotoğrafı göstermek için evrensel carousel -->
        <div id="carousel{{ product.pk }}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for img in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ img.image.url }}" class="d-block w-100" style="height: 300px; object-fit: contain;">
                </div>
                {% empty %}
                <div class="carousel-item active">
                    <img src="{% static 'image.jpg' %}" class="d-block w-100"
                        style="height: 300px; object-fit: contain;">
                </div>
                {% endfor %}
            </div>

            {% if product.images.count > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ product.pk }}"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ product.pk }}"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            {% endif %}
        </div>
        <h2>{{ product.name }}</h2>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Seller:</strong> <a href="/users/{{ product.user }}">{{ product.user }}</a></p>
        <p class="card-text" style="font-size: 1.2rem;">Stock : {{ product.stock }}</p>
        <p>{{ product.description }}</p>
        
        {% if request.user.is_authenticated and request.user == product.user%}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-success" name="action" value="increase-stock">Increase
                Stock</button>
            <button type="submit" class="btn btn-primary btn-danger" name="action" value="decrease-stock">Decrease
                Stock</button>
                <div class="mb-3">
                    <label for="stock" class="form-label">Set stock</label>
                    <input type="number" name="stock" class="form-control" id="stock" placeholder="Enter a non positive number">
                    <p id="validationMessage"></p>
                    <button type="submit" class="btn btn-primary w-100" id="submit" name="action" value="set-stock">Change</button>
                </div>
        </form method="POST">
        
        {% endif %}


    </div>
</div>
</div>
<script>
    
</script>
{% endblock %}