{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block left %}
<div class="alert alert-light shadow-sm rounded-4 px-4 py-3">
  <h4 class="alert-heading">Welcome to our E-Commerce Platform! 🛒</h4>
  <p>Here you can explore our products, manage your account,</p>
  <hr>
  <p class="mb-0">Have questions? <a href="#" class="alert-link">Contact our support</a>.</p>
</div>
<div class="alert alert-success shadow-sm rounded-4 px-4 py-3">
  <h4 class="alert-heading"> Don't have an account ? </h4>
  <p>Join us! </p>
  <hr>
  <p class="mb-0">Click to register <a href="/users/register" class="alert-link">Register</a>.</p>
</div>
{% endblock left %}

{% block center %}
<div style="width: 100%;">
  <h1 class="text-center mb-4">Welcome To Our E-Commerce Site</h1>

  {% if request.user.is_authenticated %}
  <p class="text-center">Hi {{ request.user.email }}</p>
  {% endif %}

  <!-- PRODUCTS -->
  <div class="row">
    {% for i in "123456789"|make_list %}
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="card h-100" style="
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.2);
          ">
        <img src="{% static 'image.jpg' %}" class="card-img-top" style="height: 300px; object-fit:contain;">
        <div class="card-body">
          <h4 class="card-title">Product {{ forloop.counter }}</h4>
          <p class="card-text" style="font-size: 1.2rem;">$ {{ forloop.counter }}9.99</p>
          <a href="#" class="btn btn-lg btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- PAGE NUMBERS -->
  <div class="d-flex justify-content-center my-4">
    <ul class="pagination mb-0">
      <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
{% endblock %}
{% block right %}
<div class="text-center">
  <h5 class="text-muted">💡 Quick Tip</h5>
  <p>Don’t have an account? Register now!</p>
  <a href="/users/register" class="btn btn-outline-primary btn-sm mt-2">Register</a>
</div>
{% endblock %}