{% extends "base.html" %}
{% load static %}

{% block title %}
  TO-DO
{% endblock %}

{% block centered_content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card bg-warning shadow mb-3" style="max-width: 40rem; width: 100%;">
    <div class="card-header text-center">🚧 Under Construction</div>
    <div class="card-body text-center">
      <h4 class="card-title">We're trying to fix that 🛠</h4>
      <p class="card-text">Sorry for the inconvenience, this page is not available at the moment 😥</p>
    </div>
  </div>
</div>
{% endblock %}