{% extends "base.html" %}
{% load static %}


{% block title %}
Login
{% endblock %}


{% block content %}

<center>
  <h2>THIS IS THE LOGIN PAGE</h2>
</center>

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    
    <h2 class="text-center mb-4">Login</h2>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="email"  class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">

      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
      <a href="/users/register">Register if you dont have account</a>
    </form>
    
  </div>
</div>

{% endblock %}