{% extends "base.html" %}
{% load static %}

{% block title %}Email Sent{% endblock %}

{% block center %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-info text-center shadow-sm">
        <h4 class="alert-heading mb-3">Password reset successful :D</h4>
        <p>You can now log in with your new password.</p>
        <button type="button" class="btn btn-secondary"> <a class="nav-link" href="/users/login">Login</a></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

